body {
    font-family: 'Tomorrow', sans-serif;
    margin: auto;
    padding: auto;
    overflow: hidden;
    background: transparent !important;
}

.container {
    width: 210px;
    height: 92.47px;
    right: 30px;
	bottom: 30px;
	position: absolute !important;
	z-index: 999 !important;
    font-family: 'Tomorrow', sans-serif;
    transition: 0.3s;
}

/*infos*/

.ammo {
    position: absolute;
    text-align: center;
    color: white;
    top: -20%;
    left: 45%;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .75);
    font-size: 10pt;
}

.money {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .75);
    font-size: 8pt;
    margin-top: 1%;
    margin-bottom: 2%;
}

.radio {
    display: inline-block;
    position: absolute;
    left: 32%;
    top: 81.5%;
    transition: 0.6s;
    color: white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .75);
    font-size: 12px;
}

.space {
    display: inline-block;
    position: absolute;
    left: 61.5%;
    top: 80%;
    transition: 0.6s;
    color: white;
    font-size: 12px;
}

.voz {
    display: inline-block;
    position: absolute;
    left: 66%;
    top: 80%;
    transition: 0.3s;
    color: white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .75);
    font-size: 14px;
}

.microphone {
    display: inline-block;
    position: absolute;
    left: 92%;
    top: 81.5%;
    color: white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .75);
    font-family: 'Hype', sans-serif;
    font-size: 14px;
}

.speaking {
    color: rgb(255, 166, 49);
}

/*Health*/

.health {
    display: block;
    width: 200px;
    height: 12px;
    border-radius: 5px;
    margin-left: 2%;
    border: solid 1px rgb(255, 145, 0);
    background-color: rgba(6, 187, 0, 0);
}

.healthBox {
    background-color: rgba(255, 145, 0, 0.753);
    position: relative;
    transition: 0.3s;
	width: 100%;
	height: 100%;
    border-radius: 3px;
}

.healthImg {
    width: 13px;
    height: 13px;
    padding-left: 2%;
    transition: 0.3s;
}

/*Armor*/

.armor {
    display: inline-block;
    width: 100px;
    height: 15px;
    transition: 0.3s;
    border-radius: 3px;
    margin-top: 2%;
    margin-left: 2%;
    border: solid 1px rgb(0, 155, 245);
    background-color: rgba(0, 78, 245, 0);
}

.armorBox {
    background-color: rgba(0, 155, 245, 0.753);
    position: relative;
    transition: 0.3s;
	width: 100%;
	height: 100%;
    border-radius: 3px;
}

.armorImg {
    width: 13px;
    height: 13px;
    padding-top: 0.5%;
    padding-left: 2.5%;
    transform: skew(0deg);
}

/*Energy*/

.energy {
    display: inline-block;
    width: 93px;
    height: 15px;
    transition: 0.3s;
    margin-top: 2%;
    border-radius: 3px;
    border: solid 1px rgb(29, 245, 0);
    background-color: rgba(0, 78, 245, 0);
}

.energyBox {
    background-color: rgba(29, 245, 0, 0.753);
    position: relative;
    transition: 0.3s;
	width: 100%;
	height: 100%;
    border-radius: 3px;
}

.energyImg {
    width: 13px;
    height: 13px;
    padding-top: 0.5%;
    padding-left: 1.5%;
}

/*Img*/

.logo {
    position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	height: 100px;
    padding-top: 2%;
    padding-right: 2%;
    transition: 0.3s;
	z-index: 999 !important;
    animation: logo 1.5s infinite linear;
}


.death {
    display: none;
    width: 13px;
    height: 13px;
    padding-left: 2%;
    transition: 0.3s;
}

img {
    z-index: 998 !important;
    position: absolute;
    color: white;
    transform: skew(-0deg);
}

/*Extras Class*/

.healthLow {
    animation: hLow 1s linear infinite;
}

/*Keyframes*/

@keyframes hLow {
    0% {
        opacity: 0;
    } 50% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}

@keyframes logo {
    0% { transform: translateY(0); }
    20% { transform: translateY(5px); }
    40% { transform: translateY(8px); }
    50% { transform: translateY(10px); }
    60% { transform: translateY(8px); }
    80% { transform: translateY(5px); }
    100% { transform: translateY(0); }
}

/*Font-Face*/

@font-face {
    font-family: 'Tomorrow';
    src: url('./fonts/Tomorrow-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Hype';
    src: url('./fonts/Hype.ttf');
    font-weight: 400;
    font-style: normal;
}