body {
  margin: auto;
  padding: auto;
  overflow: auto;
  overflow-x: hidden;
  background: transparent !important;
}

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
  border-radius: 8px;
}
::-webkit-scrollbar {
  width: 5px;
  border-radius: 8px;
  background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #ff9100;
}

@font-face {
  font-family: mainFont;
  src: url('./font.ttf');
}

@font-face {
  font-family: playersFont;
  src: url('./players.ttf');
}

.groups {
  display: grid;
  grid-template-columns: 264px 264px 254px;
  grid-template-rows: 268px 268px 268px;
  position: relative;
  margin-top: 5%;
  margin-left: 3%;
  transition: 1s;
  user-select: none;
}

.group {
  width: 254px;
  height: 228px;
  border-radius: 5px;
  transition: 0.3s;
  background: rgba(255, 126, 14, 0.418) url('./images/groove.png');
  background-size: 45%;
  background-repeat: no-repeat;
}

.players {
  position: relative;
  color: black;
  font-family: playersFont;
  font-size: 25px;
  font-weight: 900;
  left: 37%;
  top: 88%;
}

.joingroup {
  position: relative;
  color: white;
  font-family: mainFont;
  font-size: 25px;
  background: rgb(255, 126, 14);
  width: 250px;
  height: 30px;
  border: none;
  border-radius: 5px;
  transition: 0.2s;
  top: 90%;
  margin-left: 1%;
}

.joingroup:hover {
  margin-left: 0%;
  width: 254px;
  background: rgba(255, 126, 14, 0.418);
}

/* Skins */

.skins {
  display: none;
  position: relative;
  width: 230px;
  height: 200px;
  left: 55%;
  margin-top: 200%;
  transition: 1s;
  background: rgba(255, 126, 14, 0.418);
  border-radius: 5px;
}

.skin {
  display: block;
  color: white;
  font-family: mainFont;
  font-size: 20px;
  background: rgb(255, 126, 14);
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 5px;
  margin-bottom: 2%;
  margin-left: 10%;
  transition: 0.3s;
}

.skin:hover {
  width: 186px;
  background: rgba(255, 126, 14, 0.418);
}

.selecionar {
  position: relative;
  width: 220px;
  background: rgb(255, 126, 14);
  top: 8%;
  margin-left: 2%;
}

.selecionar:hover {
  width: 230px;
  margin-left: 0%;
  background: rgba(255, 126, 14, 0.418);
}

.back {
  position: absolute;
  font-size: 14px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  top: 2%;
  left: -5%;
}

.back:hover {
  width: 30px;
  height: 30px;
}

.textSkin {
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 5%;
}

/* Backgrounds */

div .Grove_Street {
  background: rgba(255, 126, 14, 0.418) url('./images/grove.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Ballas {
  background: rgba(255, 126, 14, 0.418) url('./images/ballas.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Los_Aztecas {
  background: rgba(255, 126, 14, 0.418) url('./images/aztecas.png');
  background-size: 100% 110%;
  background-repeat: no-repeat;
}

.Los_Vagos {
  background: rgba(255, 126, 14, 0.418) url('./images/vagos.png');
  background-size: 100% 80%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}

.Los_Rifas {
  background: rgba(255, 126, 14, 0.418) url('./images/rifas.png');
  background-size: 100% 70%;
  background-position-y: 45%;
  background-repeat: no-repeat;
}

.Mafia {
  background: rgba(255, 126, 14, 0.418) url('./images/mafia.png');
  background-size: 100% 80%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}

.Pizza_Boi {
  background: rgba(255, 126, 14, 0.418) url('./images/pizza.png');
  background-size: 70% 80%;
  background-position-x: 50%;
  background-repeat: no-repeat;
}

.Pedreiros {
  background: rgba(255, 126, 14, 0.418) url('./images/pedreiros.png');
  background-size: 70% 80%;
  background-position-x: 50%;
  background-repeat: no-repeat;
}


@media screen and (min-width: 1920px) {
  .groups {
    left: 25%;
  } 
}

@media screen and (max-width: 1024px) {
  .groups {
    left: 0%;
  } 
}

@media screen and (max-width: 800px) {
  body {
    overflow: visible;
  }
  .group2 {
    margin-top: 1%;
  } 
}

@media screen and (max-width: 1366px) {
  .groups {
    left: 18%;
  }  
}