body {
    margin: auto;
    padding: auto;
    overflow: hidden;
    background: transparent !important;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
    border-radius: 8px;
}
::-webkit-scrollbar {
    width: 5px;
    border-radius: 8px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #ff9100;
}

.box {
    overflow: auto;
    overflow-x: hidden;
    width: 500px;
    height: 500px;
    padding-bottom: 2.5%;
    border-radius: 8px;
    position: relative;
    left: 33%;
    margin-top: 5%;
    background: rgba(0, 0, 0, 0.5);
}

.boxName {
    position: absolute;
    width: 500px;
    left: 33%;
    margin-bottom: 10%;
    background: #ff9100;
    text-align: center;
    color: black;
    font-family: sans-serif;
    border-radius: 5px;
    z-index: 2;
}

.name {
    position: absolute;
    width: 500px;
    left: 25%;
    margin-bottom: 10%;
    background: transparent;
    text-align: center;
    color: white;
    font-family: sans-serif;
    border-radius: 5px;
    z-index: 3;
}

.desc {
    position: absolute;
    width: 500px;
    left: 39%;
    margin-bottom: 10%;
    background: transparent;
    text-align: center;
    color: white;
    font-family: sans-serif;
    border-radius: 5px;
    z-index: 3;
}

.lista {
    max-width: 480px;
    padding-top: 1%;
    padding-bottom: 1%;
    background: #ff9100;
    margin-left: 2%;
    margin-top: 5%;
    border-radius: 8px;
    transition: 0.3s;
    color: white;
}

.lista:hover {
    background: rgba(0, 0, 0, 0.63);
}

.lista .commandName {
    font-family: sans-serif;
    font-size: 13px;
}

h1 {
    display: inline;
    margin-left: 15%;
}

.lista .description {
    font-family: sans-serif;
    font-size: 12px;
    margin-left: 12%;
}

.listaMargin {
    margin-bottom: -3%;
}

/*media*/

@media screen and (min-width: 1920px) {
    .box {
        left: 37%;
        margin-top: 10%;
    }

    .boxName {
        left: 37%;
    }

    .name {
        left: 31%;
    }

    .desc {
        left: 41.5%;
    }
}